<!DOCTYPE html>
<html>
<head>
    <meta name="referrer" content="never">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="css/bulma.min.css" rel="stylesheet">
    <link href="css/all.min.css" rel="stylesheet">
    <title>接口文档</title>
</head>
<body ng-app="app" ng-cloak class='ng-cloak'>
<div class="columns is-multiline" ng-controller="menuController">
    <div class="column is-2">
        <h1 class="title">{{apiDocument.title}}</h1>
        <h2 class="subtitle">
            <span class="tag is-primary">{{apiDocument.date | date:'yyyy-MM-dd HH:mm:ss Z'}}</span>
        </h2>
        <div class="field">
            <div class="control">
                <input class="input is-primary" type="text" placeholder="请输入要查询的API" ng-model="searchText" ng-keypress="($event.which==13)?searchAPI():0">
            </div>
        </div>
        <aside class="menu">
            <ul class="menu-list">
                <li><a ui-sref="menu({name:'history',api:null})" ng-class="{'is-active':currentViewName=='history'}">文档历史</a></li>
                <li><a ui-sref="menu({name:'setting',api:null})" ng-class="{'is-active':currentViewName=='setting'}">文档设置</a></li>
            </ul>
            <p class="menu-label" ng-show="collectionList.length>0">
                收藏列表
            </p>
            <ul class="menu-list" ng-show="collectionList.length>0">
                <li ng-repeat="api in collectionList track by api.url">
                    <a ui-sref="menu({name:'api',api:api})" ng-class="{'is-active':currentViewName=='api'&&currentAPI==api}" title="{{api.url}}">
                        <s ng-show="api.deprecated">{{api.name}}</s>
                        <span ng-show="!api.deprecated">{{api.name}}</span>
                    </a>
                </li>
            </ul>
            <p class="menu-label" ng-show="storageService.settings.showRecentUsed&&recentUsedList.length>0">
                最近使用
            </p>
            <ul class="menu-list" ng-show="storageService.settings.showRecentUsed&&recentUsedList.length>0">
                <li ng-repeat="api in recentUsedList track by api.url">
                    <a ui-sref="menu({name:'api',api:api})" ng-class="{'is-active':currentViewName=='api'&&currentAPI==api}" title="{{api.url}}">
                        <s ng-show="api.deprecated">{{api.name}}</s>
                        <span ng-show="!api.deprecated">{{api.name}}</span>
                    </a>
                </li>
            </ul>
            <p class="menu-label" ng-show="storageService.settings.showEntity">
                实体类信息
            </p>
            <ul class="menu-list" ng-show="storageService.settings.showEntity">
                <li ng-repeat="(key,val) in apiDocument.apiEntityMap track by key">
                    <a ui-sref="menu({name:'entity',entity:val})" ng-class="{'is-active':currentViewName=='entity'&&currentEntity==val}">
                        {{val.simpleName}}{{val.description?'('+val.description+')':'' | trustAsHtml}}
                    </a>
                </li>
            </ul>
            <p class="menu-label">
                接口列表
            </p>
            <ul class="menu-list">
                <li ng-repeat="apiController in apiDocument.apiControllerList track by apiController.name" ng-show="showApiController(apiController);" title="{{apiController.className}}">
                    <s ng-show="apiController.deprecated">{{apiController.name}}
                        <span class="tag is-info is-small">{{apiController.apiList.length}}</span>
                    </s>
                    <p ng-show="!apiController.deprecated">{{apiController.name}}
                        <span class="tag is-info is-small">{{apiController.apiList.length}}</span>
                    </p>
                    <ul>
                        <li ng-repeat="api in apiController.apiList track by api.url">
                            <a ui-sref="menu({name:'api',api:api})" ng-class="{'is-active':currentViewName=='api'&&currentAPI==api}" ng-show="showApi(apiController,api);" title="{{api.url}}">
                                <s ng-show="api.deprecated">{{api.name}}</s>
                                <span ng-show="!api.deprecated">{{api.name}}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </aside>
    </div>
    <div class="column is-10">
        <div class="tabs is-boxed is-large">
            <ul>
                <li ng-repeat="(key,val) in tabMap" ng-class="{'is-active':currentViewName==key}" ng-click="changeToTab(key);"><a>{{val.tabName}}<button class="delete is-small " ng-click="closeTab(key);"></button></a></li>
            </ul>
        </div>

        <div ui-view></div>
    </div>
</div>
<script src="js/script.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/angular-ui-router.min.js"></script>
<script src="api.js"></script>
<script src="index.js"></script>
<textarea id="textarea" style="width: 1px;height: 1px;"></textarea>
</body>
</html>
