<!DOCTYPE html>
<html>
<head>
    <meta name="referrer" content="never">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="css/bulma.min.css" rel="stylesheet">
    <link href="css/all.min.css" rel="stylesheet">
    <title>接口文档</title>
</head>
<body ng-app="app" ng-cloak class='ng-cloak'>
<div class="columns is-multiline" ng-controller="indexController">
    <div class="column is-2">
        <h1 class="title">{{apiDocument.title}}</h1>
        <h2 class="subtitle">
            <span class="tag is-primary">{{apiDocument.date | date:'yyyy-MM-dd HH:mm:ss Z'}}</span>
        </h2>
        <div class="field">
            <div class="control">
                <input class="input is-primary" type="text" placeholder="请输入要查询的API" ng-model="searchText"
                       ng-keypress="($event.which==13)?searchAPI():0">
            </div>
        </div>
        <aside class="menu">
            <ul class="menu-list">
                <li><a ng-class="{'is-active':view=='history'}" ng-click="showHistory();">文档历史</a></li>
                <li><a ng-class="{'is-active':view=='globalHeader'}" ng-click="showGlobalHeaders();">全局头部</a></li>
                <li><a ng-class="{'is-active':view=='environment'}" ng-click="showEnvironment();">环境设置</a></li>
            </ul>
            <p class="menu-label">
                最近使用
            </p>
            <ul class="menu-list" ng-show="lastUsed.length>0">
                <li ng-repeat="api in lastUsed track by api.url">
                    <a ng-class="{'is-active':currentAPI==api}" ng-click="setCurrentAPI(api);">
                        <s ng-show="api.deprecated">{{api.name}}</s>
                        <span ng-show="!api.deprecated">{{api.name}}</span>
                    </a>
                </li>
                <li>
                    <a ng-click="cleanHistory();">清除历史记录</a>
                </li>
            </ul>
            <p class="menu-label" ng-show="searchText==null||''==searchText">
                实体类信息
            </p>
            <ul class="menu-list" ng-show="searchText==null||''==searchText">
                <li><a ng-class="{'is-active':val==currentEntity}"
                       ng-repeat="(key,val) in apiDocument.apiEntityMap track by key" ng-click="setCurrentEntity(val);">{{val.simpleName}}({{val.description}})</a>
                </li>
            </ul>
            <p class="menu-label">
                接口列表
            </p>
            <ul class="menu-list">
                <li ng-repeat="apiController in apiDocument.apiControllerList" ng-show="showApiController(apiController);"><a>
                    <s ng-show="apiController.deprecated">{{apiController.name}}
                        <span class="tag is-info is-small">{{apiController.apiList.length}}</span>
                    </s>
                    <p ng-show="!apiController.deprecated">{{apiController.name}}
                        <span class="tag is-info is-small">{{apiController.apiList.length}}</span>
                    </p>
                </a>
                    <ul>
                        <li ng-repeat="api in apiController.apiList">
                            <a ng-class="{'is-active':currentAPI==api}" ng-click="setCurrentAPI(api);" ng-show="showApi(api);">
                                <s ng-show="api.deprecated">{{api.name}}</s>
                                <span ng-show="!api.deprecated">{{api.name}}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </aside>
    </div>
    <div class="column is-10">
        <div ng-show="view=='history'">
            <section class="section">
                <div class="container">
                    <h1 class="title">文档历史</h1>
                    <h2 class="subtitle">
                        接口列表的变化历史
                    </h2>
                    <div class="tile is-ancestor">
                        <div class="tile is-vertical">
                            <div class="tile is-parent" ng-repeat="apiHistory in apiDocument.apiHistoryList">
                                <div class="tile is-child">
                                    <h1 class="title">{{apiHistory.updateTime | date:'yyyy-MM-dd HH:mm:ss'}}</h1>
                                    <ul>
                                        <li ng-repeat="api in apiHistory.addList"><span class="tag is-primary">新增</span>{{api.methods[0]}}&nbsp;&nbsp;{{api.url}}
                                            <button class="button is-info is-small" ng-click="setCurrentAPI(api);">
                                                {{api.name}}
                                            </button>
                                        </li>
                                        <li ng-repeat="api in apiHistory.modifyList"><span
                                                class="tag is-warning">变更</span>{{api.methods[0]}}&nbsp;&nbsp;{{api.url}}
                                            <button class="button is-warning is-small" ng-click="setCurrentAPI(api);">
                                                {{api.name}}
                                            </button>
                                        </li>
                                        <li ng-repeat="api in apiHistory.deleteList"><span
                                                class="tag is-danger">删除</span>{{api.methods[0]}}&nbsp;&nbsp;{{api.url}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div ng-show="view=='globalHeader'">
            <section class="section">
                <div class="container">
                    <h1 class="title">全局头部</h1>
                    <h2 class="subtitle">
                        设置头部字段,这些头部字段将会在执行请求时添加到请求头.
                    </h2>
                    <table class="table is-fullwidth">
                        <tr>
                            <th>头部键</th>
                            <th>头部值</th>
                            <th>操作</th>
                        </tr>
                        <tr ng-repeat="(key,val) in headers track by key">
                            <td>
                                <input class="input" type="text" ng-model="key" placeholder="name">
                            </td>
                            <td>
                                <input class="input" type="text" ng-model="val" placeholder="value">
                            </td>
                            <td>
                                <button class="button is-danger" ng-click="removeHeader(key);">删除</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input class="input" type="text" ng-model="newHeaderKey" placeholder="name">
                            </td>
                            <td>
                                <input class="input" type="text" ng-model="newHeaderValue" placeholder="value">
                            </td>
                            <td>
                                <button class="button is-primary" ng-click="addHeader();">添加</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </section>
        </div>
        <div ng-show="view=='environment'">
            <section class="section">
                <div class="container">
                    <h1 class="title">环境设置</h1>
                    <h2 class="subtitle">
                        指定请求发送的目标机器.
                    </h2>
                    <table class="table is-fullwidth">
                        <thead>
                        <tr>
                            <th>地址
                                <div class="dropdown is-hoverable">
                                    <div class="dropdown-trigger">
                                        <span class="icon has-text-info"><i class="fas fa-info-circle"></i></span>
                                    </div>
                                    <div class="dropdown-menu" role="menu">
                                        <div class="dropdown-content">
                                            <div class="dropdown-item">
                                                <p>请带上http(s)前缀,例如http://127.0.0.1:9000</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </th>
                            <th>模式
                                <div class="dropdown is-hoverable">
                                    <div class="dropdown-trigger">
                                        <span class="icon has-text-info"><i class="fas fa-info-circle"></i></span>
                                    </div>
                                    <div class="dropdown-menu" role="menu">
                                        <div class="dropdown-content">
                                            <div class="dropdown-item">
                                                <p><b>直连</b>:&nbsp;直接发送给目标机器,需要目标机器支持跨域请求</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </th>
                            <th>是否启用</th>
                            <th>删除</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="environment in environmentList track by environment.host">
                            <td>
                                <input class="input" type="text" placeholder="远程地址" ng-model="environment.host">
                            </td>
                            <td>
                                <div class="select">
                                    <select ng-model="environment.mode">
                                        <option value="0">直连</option>
                                    </select>
                                </div>
                            </td>
                            <td>
                                <label class="checkbox">
                                    <input type="checkbox" ng-checked="environment.enable"
                                           ng-click="toggleEnvironment($event,environment);">
                                    启用
                                </label>
                            </td>
                            <td>
                                <button class="button is-danger" ng-click="removeEnvironment($index);">删除</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input class="input" type="text" placeholder="远程地址" ng-model="newEnvironment.host"
                                       ng-keypress="($event.which==13)?addEnvironment():0">
                            </td>
                            <td>
                                <div class="select">
                                    <select ng-model="newEnvironment.mode">
                                        <option value="0">直连</option>
                                    </select>
                                </div>
                            </td>
                            <td></td>
                            <td>
                                <button class="button is-primary" ng-click="addEnvironment();">添加</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
        <div ng-show="view=='entity'">
            <entity-table entity="currentEntity"></entity-table>
        </div>
        <div ng-show="view=='api'">
            <h1 class="title">{{currentAPI.name}}</h1>
            <article class="message is-danger" ng-show="currentAPI.deprecated">
                <div class="message-body">
                    请注意,该接口已被废弃!
                </div>
            </article>
            <div class="columns is-gapless">
                <div class="column is-1">
                    <div class="tags">
                        <span class="tag is-info" ng-repeat="method in currentAPI.methods">{{method}}</span>
                    </div>
                </div>
                <div class="column is-11">
                    <h5>{{currentAPI.url}}</h5>
                </div>
            </div>
            <div class="columns is-gapless" ng-show="currentAPI.name!=currentAPI.description">
                <div class="content">
                    <p class="subtitle" ng-bind-html="currentAPI.description | trustAsHtml"></p>
                </div>
            </div>
            <div class="columns is-gapless">
                <div class="tags">
                    <span class="tag is-info" ng-show="null!=currentAPI.author">{{currentAPI.author}}</span>
                    <span class="tag is-info" ng-show="null!=currentAPI.since">{{currentAPI.since}}</span>
                </div>
            </div>
            <div class="columns is-multiline">
                <div class="column is-12">
                    <h1 class="title">请求参数</h1>
                    <table class="table is-striped is-narrow is-hoverable is-fullwidth">
                        <thead>
                        <tr>
                            <th>参数名</th>
                            <th>参数类型</th>
                            <th>参数请求类型</th>
                            <th>描述</th>
                            <th>是否必须</th>
                            <th>默认值</th>
                            <th>参数值</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-show="currentAPI.apiParameters==null||currentAPI.apiParameters.length==0">
                            <td colspan="7" class="text-center">当前请求不需要传递参数</td>
                        </tr>
                        <tr ng-repeat="apiParameter in currentAPI.apiParameters">
                            <td>{{apiParameter.name}}</td>
                            <td>{{apiParameter.type}}</td>
                            <td>{{apiParameter.requestType}}</td>
                            <td>{{apiParameter.description}}</td>
                            <td ng-class="{true:'',false:'has-text-grey'}[apiParameter.required]">
                                {{apiParameter.required}}
                            </td>
                            <td>{{apiParameter.defaultValue}}</td>
                            <td ng-switch="apiParameter.requestType">
                                <input class="input" ng-switch-when="text" type="text" ng-model="request[apiParameter.name]">
                                <input class="input" ng-switch-when="file" type="file" id="{{apiParameter.name}}" ng-model="request[apiParameter.name]">
                                <textarea ng-switch-when="textarea" class="textarea" ng-model="request[apiParameter.name]" rows="10" cols="30"></textarea>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="column is-12" ng-show="currentAPI.parameterEntityNameList.length>0">
                    <entity-table entity="apiDocument.apiEntityMap[parameterEntityName]" ng-repeat="parameterEntityName in currentAPI.parameterEntityNameList"></entity-table>
                </div>
                <div class="column is-12" ng-show="currentAPI.apiExceptions.length>0">
                    <h1 class="title">异常信息</h1>
                    <table class="table is-striped is-narrow is-hoverable is-fullwidth">
                        <thead>
                        <tr>
                            <th>异常类</th>
                            <th>说明</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="apiException in currentAPI.apiExceptions">
                            <td>{{apiException.className}}</td>
                            <td>{{apiException.description}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="column is-12">
                    <h1 class="title">返回值</h1>
                    <span class="tag is-info is-large">{{currentAPI.returnValue}}</span>
                </div>
                <div class="column is-12">
                    <button class="button is-primary" ng-class="{'is-loading':isLoading}" ng-click="execute();">执行请求</button>
                </div>
                <div class="column is-12" ng-show="null!=response">
                    <h1 class="title">头部信息</h1>
                    <table class="table is-striped is-narrow is-hoverable is-fullwidth">
                        <tr>
                            <td>
                                <span class="tag is-success " ng-show="response.status<400||response.status>500">{{response.status}}</span>
                                <span class="tag is-danger" ng-show="response.status>=400&&response.status<600">{{response.status}}</span>
                            </td>
                            <td>
                                <p>{{response.statusText}}</p>
                            </td>
                        </tr>
                        <tr ng-repeat="(key,val) in response.config.headers">
                            <td>{{key}}</td>
                            <td>{{val}}</td>
                        </tr>
                    </table>
                    <h1 class="title">Body信息</h1>
                    <pre>{{responseJSON}}</pre>
                    <h1 class="title" ng-show="currentAPI.returnEntityNameList.length>0">返回实体类信息</h1>
                    <entity-table entity="apiDocument.apiEntityMap[returnEntityName]" ng-repeat="returnEntityName in currentAPI.returnEntityNameList"></entity-table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/angular.min.js"></script>
<script src="index.js"></script>
</body>
</html>
